# Dependencies
node_modules
.pnpm-store

# Next.js / Build Output
.next
out
build
dist

# Environment & Logs
.env
.env.local
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# System Files
.DS_Store
Thumbs.db

# Turborepo
.turbo